<!DOCTYPE html>

<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">
    
    <head>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WFJ5TFZ');</script>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <meta name="robots" content="NOODP" />
        <meta name="msvalidate.01" content="90B5A89EE770FDA34B32C56247FF93BA" />
        <meta name="author" content="Bill Baer" />
        <meta name="description" content="Bill Baer is a Senior Product Manager and Microsoft Certified Master for Microsoft Search, Assistant, and Intelligence at Microsoft in Redmond, Washington."
        />
        <meta name="keywords" content="Bill Baer, Bill, Baer, William, Microsoft, SharePoint, Microsoft Search" />
        <meta name="google-site-verification" content="Cnbj5hKaxHxgYGKpq3684KD0HgHZbYL0CVMe2U5H3Pc" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Bill Baer</title>

        <meta name="mobile-web-app-capable" content="yes" />
        <link rel="icon" sizes="192x192" href="images/android-desktop.png" />
        
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@williambaer" />
        <meta name="twitter:creator" content="@williambaer" />
        <meta name="twitter:title" content="Bill Baer" />
        <meta name="twitter:description" content="Bill Baer is a Senior Product Manager and Microsoft Certified Master for Microsoft Search, Assistant, and Intelligence at Microsoft in Redmond, Washington."
        />
        <meta name="twitter:image" content="{{ .Site.BaseURL }}/images/card.png" />

        <meta property="og:url" content="https://wbaer.net" />
        <meta property="og:title" content="Bill Baer" />
        <meta property="og:description" content="Bill Baer is a Senior Product Manager and Microsoft Certified Master for Microsoft Search, Assistant, and Intelligence at Microsoft in Redmond, Washington."
        />
        <meta property="og:locale" content="en_US" />
        <meta property="og:image" content="{{ .Site.BaseURL }}/images/card.png" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Bill Baer" />

        <link rel="author" type="text/plain" href="{{ .Site.BaseURL }}/humans.txt" />
        
        {{ if eq .RelPermalink "/" }}
        {{ with .OutputFormats.Get "RSS" -}}
        <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
        {{ end -}}
        {{ end }}
        
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-mobile-web-app-title" content="Bill Baer" />
        <link rel="apple-touch-icon-precomposed" href="{{ .Site.BaseURL }}/images/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/images/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}/images/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}/images/favicon-16x16.png" />

        <link rel="manifest" href="{{ .Site.BaseURL }}/site.webmanifest" />
        <link rel="mask-icon" href="{{ .Site.BaseURL }}/images/safari-pinned-tab.svg" color="#3372DF" />
        <link rel="shortcut icon" href="{{ .Site.BaseURL }}/images/favicon.ico" />
        
        <meta name="msapplication-TileColor" content="#3372DF" />
        <meta name="msapplication-config" content="{{ .Site.BaseURL }}/browserconfig.xml" />
        <meta name="theme-color" content="#3372DF" />

        <link rel="preload" href="{{ .Site.BaseURL }}/fonts/MaterialIcons-Regular.woff" as="font" type="font/woff" crossorigin="anonymous" />
        <link rel="preload" href="{{ .Site.BaseURL }}/fonts/MaterialIcons-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
        <link rel="preload" href="{{ .Site.BaseURL }}/fonts/noto-sans-v11-latin-regular.woff" as="font" type="font/woff" crossorigin="anonymous" />
        <link rel="preload" href="{{ .Site.BaseURL }}/fonts/noto-sans-v11-latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
        
        {{ $css := resources.Get "css/style.css" }}
        {{ $style := $css | resources.Minify | resources.Fingerprint "sha512" }}
        
        <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" />
        
        {{ $material := resources.Get "js/material.js" }}
        {{ $lunr := resources.Get "js/lunr.js" }}
        {{ $search := resources.Get "js/search.js" }}
        {{ $js := slice $material $lunr $search | resources.Concat "js/bundle.js" }}
        
        <link rel="preload" href="{{ $js.Permalink }}" as="script" />
        
        <script src="{{ $js.Permalink }}"></script>
        
        <!--[if lt IE 9]>
                    <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
                <![endif]-->

        <script async src="https://kit.fontawesome.com/fd1d7c4a78.js" crossorigin="anonymous"></script>
    </head>