/* Base */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%; 
    text-rendering: optimizeLegibility;
}

a[href^="http:"]:link {
    text-decoration: none;
}

a[href^="http:"]:visited {
    text-decoration: none;
}

a[href^="http:"]:hover {
    text-decoration: none;
}

a[href^="http:"]:focus {
    text-decoration: none;
}

a[href^="https:"]:link {
    text-decoration: none;
}

a[href^="https:"]:visited {
    text-decoration: none;
}

a[href^="https:"]:visited a[href^="http:"]:active {
    text-decoration: none;
}

a[href^="https:"]:hover {
    text-decoration: none;
}

a[href^="https:"]:focus {
    text-decoration: none;
}

a[href^="https:"]:active {
    text-decoration: none;
}

a[href^="https:"]:focus {
    background: hsl(0, 0%, 97%);
}

* {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.6rem;
}

p {
    font-size: 1.6rem;
}

a {
    color: hsl(222, 9%, 46%);
    text-decoration: none;
}

a:hover {
    color: hsl(210, 100%, 20%);
}

ul li {
    list-style: disc;
}

ol li {
    list-style: decimal;
}

li {
    font-size: 1.6rem;
}

dt {
    margin-top: 2vh;
    font-size: 1.6rem;
}

dd {
    margin: 1vh 0 0 2.6vh;
    font-size: 1.6rem;
}

pre {
    display: block;
    padding: 12px;
    border-radius: 3px;
    background-color: hsl(0, 0%, 97%);
    font-size: 1.2rem;
    word-wrap: break-word;
    overflow: auto;
}

code {
    line-height: 1.8;
    font-size: 1.4rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1.6rem;
}

th,
td {
    padding: 8px;
    border: 1px solid hsl(0, 0%, 93%);
}

th {
    background-color: hsl(0, 0%, 98%);
    font-weight: normal;
}

del {
    color: hsl(0, 0%, 60%)
}

blockquote {
    margin: 0;
    padding: 8px 12px;
    border-left: 3px solid hsl(0, 0%, 80%);
}

blockquote * {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Layout */
.header {
    display: block;
    padding: 0px 0;
    text-align: center;
}

.container {
    width: 100%;
    padding-right: 2vh;
    padding-left: 2vh;
    margin: 0 auto 0 auto;
}

.navbar {
    height: 70px;
    margin: auto;
    background-color: hsla(0, 0%, 100%, .95);
    border-bottom: 1px solid hsl(210, 17%, 95%);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 0 1rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2.2vh 2vw 0 0;
    padding:0;
        
    a {
        width: 2.4rem;
        height: 2.4rem;
        color: hsl(222, 9%, 46%);
        transition: 0.2s;
    }

    a:hover {
        color: hsl(0, 100%, 50%);
        opacity: .6;
    }
}

.social-icons__item {
    margin: 1vh 1.6vh 0;
    list-style: none;
}

.social-icons__icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
}

.post-main {
    width: 96%;
    max-width: 720px;
    margin: 6vh auto 0;
}

.main:first-of-type {
    padding-top: 6vh;
}

.main {
    background-color: hsl(210, 17%, 98%);
    padding: 16vh 0 16vh 0;
    padding-top: 16vh;
    animation: intro 0.3s both;
    animation-delay: 0s;
    animation-delay: 0.15s;
}

.footer {
    background-color: hsl(0, 0%, 100%);
    color: hsl(210, 10%, 23%);
    font-size: 1rem;
    letter-spacing: .025em;
    padding: 8vh 0 0;
    position: relative;
    z-index:1;
    
    a {
        line-height: 1.8;
        text-decoration: none;
        -webkit-transition: opacity .15s ease;
        transition: opacity .15s ease;
        vertical-align: top;
        backface-visibility: hidden;
        will-change: opacity;
    }

    a:hover {
        color: hsl(0, 100%, 50%);
        opacity: .6;
    }
}

.footer-information {
    border-top: 1px solid hsl(210, 17%, 95%);
    padding: 2vh 0 4vh 0;
}

.footer-information > .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-icons {
    color: hsl(210, 10%, 23%);
    padding: 0 0 8vh;
    font-size: 2rem;
    word-spacing: 1.8vw;
    text-align: center;

    a {
        color: hsl(222, 9%, 46%);
    }

    a:hover {
        color: hsl(0, 100%, 50%);
    }
}

.copyright {
    padding: 0 8vw;
    color: hsl(222, 9%, 46%);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 24px 0 0;
    text-align: left;
    font-size: 1.2rem;
        
    a {
        vertical-align: sub;
        font-size: smaller;
        font-family: 'Source Serif Pro', serif;
    }
}

.post {
    border-bottom: 1px solid hsl(0, 0%, 90%);
    color: hsl(222, 9%, 46%);
    display: block;
}

.post-list {
    margin-top: 8vh;
}

.post-list:first-child {
    margin-top: 0;
}

.post-list__btn {
    margin-top: 1rem;
}

.post-title {
    color: hsl(222, 9%, 46%);
    display: inline-block;
    font-family: 'Source Serif Pro', serif;
    font-size: 2.4rem;
    margin: .5rem 0;
    padding-right: .2rem; 
    
    a {
        color: hsl(222, 9%, 46%);
    }

    a:hover {
        color: hsl(210, 100%, 20%);
    }
}

.post:hover .post-separator,
.post:focus .post-separator {
    width: 5rem;
}

.post-separator {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-top: 0.2rem solid hsl(210, 100%, 20%);
    display: block;
    width: 2rem;
}

.post-metadata {
    color: hsl(222, 9%, 46%);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 1rem;
}

.post-date {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase !important;
    line-height: 1;
}

.post-tags {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase !important;
    line-height: 1;
}

.post-tags::after {
    content: " ";
}

.word-count {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase !important;
    line-height: 1;
}

.post-summary {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    color: hsl(222, 9%, 46%);
    text-align: justify;
    line-height: 1.57;
    word-break: break-word;
    margin:0;
    
    p {
        margin: 0;
    }
}

.post-thumbnail {
    margin-top: 24px;
}

.post-body {
    margin: 40px 0 30px;
    word-wrap: break-word;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    color: hsl(222, 9%, 46%);
    text-align: justify;
    line-height: 1.57;
    margin: 0;
}

.post-body p {
    margin: 0;
    font-size: 1.6rem;
}

@media screen and (min-width: 640px) {
    .post-body {
        margin: 40px 0 60px;
    }
}

.post-body img[data-action^='zoom']:hover {
    cursor: zoom-in;
}

.post-body .zoom-img-wrap img:hover {
    cursor: zoom-out;
}

.read-more {
    color: hsl(222, 9%, 46%);
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin: 4vh 0 4vh;
    font-size: 1.2rem;

    a:hover {
        color: hsl(210, 100%, 20%);
    }
}

.pagination {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.6rem;
    margin: 8vh 0;

    a:hover {
        background: none;
    }
}

.pagination-control {
    display: flex;
    justify-content: space-between;
}

.pagination-next,
.pagination-previous {
    flex: 1;
}

.pagination-next a::before {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 4px;
    height: 4px;
    margin-right: 4px;
}

.pagination-previous {
    text-align: right;
}

.pagination-previous a::after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 4px;
    height: 4px;
    margin-left: 4px;
}

.pagination-count {
    top: -1px;
    display: inline-block;
    text-align: center;
}

.site-title {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6.4rem;

    a {
        color: hsl(222, 9%, 46%);
    }

    a:hover {
        color: hsl(210, 100%, 20%)
    }
}

.site-subtitle {
    margin: 12px 0 0 0;
    color: hsl(222, 9%, 46%);
    font-size: 1.6rem;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}

.related-posts {
    margin-bottom: 100px;
}

.related-posts h3 {
    color: hsl(222, 9%, 46%);
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    margin: .5rem 0;
    padding-right: .2rem;
}

.related-posts li {
    font-family: 'Sourc Sans Pro', sans-serif;
    font-size: 1.6rem;
}

/* Media Queries (Common Device Breakpoints) */
@media (orientation: landscape) {}

@media (orientation: portrait) {
    body {
        margin: 0 2vw 0 2vw;
    }

    .footer-information {
        margin: 2vh 0;
    }
    
    .footer-icons {
        margin: 2.2vh 0 0 0;
        padding: 0;
        word-spacing: 6vw;
    }
    
    .social-icons {
        margin: 2vh 2vw 0 0;
    }
}