{{ define "main" }}
		<div class="mdl-cell mdl-cell--12-col">
			{{ $type := .Type }}
			{{ $.Scratch.Set "count" 1 }}
		
			{{ range (.Site.RegularPages.GroupByDate "2006") }}
			{{ if (gt .Key 2000) }}
		
				{{ range (where .Pages "Type" $type) }}
				{{ if (eq ($.Scratch.Get "count") 1) }}
					{{ $.Scratch.Set "count" 0 }}
					<h1>{{ .Date.Format "2006" }}</h1>
					{{ end }}
				{{ end }}
		
				{{ $.Scratch.Set "count" 1 }}
		
					<ul class="mdl-list">
						{{ range (where .Pages "Type" $type) }}
						{{ if (ne .Params.hidden true) }}
						<li class="mdl-list__item">
							<a href="{{ .RelPermalink }}">
								<span>{{ .Date.Format "January 02" }}</span> — {{ .Title }}
							</a>
						</li>
						{{ end }}
					{{ end }}
					</ul>
				{{ end }}
			  {{ end }}
		</div>
{{ end }}