{{ define "main" }}

        <div class="mdl-cell mdl-cell--12-col">
            <h4>{{ .Title }}</h4>
            <p>{{ .Description }}</p>

            <form name="contact" method="POST" data-netlify="true">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="name" id="name" />  
                    <label class = "mdl-textfield__label" for="name">Name</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="email" name="email" id="email"/>
                    <label class = "mdl-textfield__label" for="email">Mail</label>
                </div>

                <div class = "mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" name="message"></textarea>
                    <label class="mdl-textfield__label">Message:</label>
                </div>

                <div>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Send</button>
                </div>

            </form>
            
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>

{{ end }}