{{ partialCached "header/header.html" . }}
    
{{ if .IsHome }}
{{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
{{ else }}
{{ $pag := .Paginator.Pages }}
{{ end }}

{{ if isset .Site.Taxonomies "tags" }}
{{ $mytag := .Title }}
{{ range $index, $page := (.Paginate (where .Data.Pages "Type" "posts")).Pages }}
{{ if ne $index 0 }}
{{ end }}
{{ .Render "li" }}
{{ end }}
{{ else }}
{{ range $index, $page := (.Paginate (where .Site.RegularPages "Type" "posts")).Pages }}
{{ if ne $index 0 }}
{{ end }}
{{ .Render "li" }}
{{ end }}
{{ end }}

{{ partial "helpers/pagination.html" .Paginator }}

{{ partialCached "footer/footer.html" . }}