{{ define "main" }}

		<div class="mdl-cell mdl-cell--12-col">
			<form id="search" role="search" class="search">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%;">
					<input class="mdl-textfield__input" type="text" id="search-expandable">
					<label class="mdl-textfield__label" for="search-expandable">Search</label>
				</div>
			</form>
			<script src="https://unpkg.com/lunr/lunr.js"></script>
			<script src="{{ .Site.BaseURL }}/js/search.min.js" defer></script>
		</div>
		
		<div class="mdl-cell mdl-cell--12-col">
			<div class="mdl-wb search-result__container"></div>
		</div>
		<template id="mdl-wb__search-result" hidden>
				<article class="content post">
					<h4 class="post-title"><a class="search-result__link"></a></h4>
					<p class="search-result__summary"></p>
					<div>
						<span class="mdl-button mdl-js-button mdl-button--accent"><a class="search-result__button">Expand Result</a></span>
					</div>
				</article>
		</template>

{{ end }}