{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}

        <div class="mdl-cell mdl-cell--12-col">
            <h4>{{.Title }}</h4>

            {{ if not .Params.hideDate }}
            <p class="post-metadata">{{ partial "timestamp.html" . }}</p>
            {{ end }}
            {{ range .Params.tags }}
            <span class="mdl-wb post-tags"><a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a></span>
            {{ end }}

            {{ with .Params.thumbnail }}
            <img src="{{ . }}" alt="thumbnail" class="post-thumbnail">
            {{ end }}                

            <p>{{ .Content }}</p>
            
            
            <div class="mdl-grid">
                <div class="mdl-layout-spacer"></div>

                    {{ if .PrevInSection }}
                    <span class="mdl-button mdl-js-button mdl-button--accent"><a href="{{ .PrevInSection.Permalink }}">Previous</a></span>
                    {{ else }}
                    {{ end }}


                    {{ if .NextInSection }}
                    <span class="mdl-button mdl-js-button mdl-button--accent"><a href="{{ .NextInSection.Permalink }}">Next</a></span>
                    {{ else }}
                    {{ end }}

                <div class="mdl-layout-spacer"></div>
            </div>
            
            <h4>More like this...</h4>
            <ul>
            {{ $.Scratch.Set "limit" 0 }}
            {{ $currentPagePermalink := .Permalink }}
            {{ $tags := .Params.tags }}
            {{ range .Site.Pages }}
              {{ $isMatchTags := intersect $tags .Params.tags | len | lt 0 }}
              {{ if and $isMatchTags (ne .Permalink $currentPagePermalink) (lt ($.Scratch.Get "limit") 5) }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ $.Scratch.Add "limit" 1 }}
              {{ end }}
            {{ end }}
            </ul>

{{ partial "comments.html" }}

            </div>

{{partial "footer.html" }}