{{ partialCached "header/header.html" . }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}
        <div class="mdl-cell mdl-cell--12-col">
            <h1>{{ .Title }}</h1>
            {{ $data := .Data }}
            {{ range $key, $value := .Data.Terms }}
            <span class="mdl-chip mdl-chip--contact">
                <span class="mdl-chip__contact">{{ len $value }}</span>
                <span class="mdl-chip__text"><a href="{{ $baseurl }}/{{ $data.Plural }}/{{ $key | urlize }}">{{ $key }}</a></span>
            </span>
            {{ end }}
        </div>
{{ partialCached "footer/footer.html" . }}