$color-primary: rgb(255, 255, 255) !default;
$color-primary-dark: rgb(58, 55, 67) !default;
$color-accent: rgb(255, 255, 255) !default;
$color-primary-contrast: rgb(86, 82, 100) !default;
$color-accent-contrast: rgb(255, 255, 255) !default;
$footer-bg-color: rgb(248, 249, 250) !default;