$font-stack: 'Noto Sans','Helvetica',sans-serif;
* {
	font-family:$font-stack;
}
html,body{
	font-family:$font-stack;
	margin:0;
	padding:0;
	scroll-behavior:smooth
}
@font-face{
	font-family:'Material Icons';
	font-style:normal;
	font-weight:400;
	font-display:swap;
	src:url(../fonts/MaterialIcons-Regular.eot);
	src:local('Material Icons'),local('MaterialIcons-Regular'),url(../fonts/MaterialIcons-Regular.woff) format('woff'),url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons{
	font-family:'Material Icons';
	font-weight:400;
	font-style:normal;
	font-size:24px;
	display:inline-block;
	line-height:1;
	text-transform:none;
	letter-spacing:normal;
	word-wrap:normal;
	white-space:nowrap;
	direction:ltr;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	-moz-osx-font-smoothing:grayscale;
	font-feature-settings:'liga';
}
.mdl-wb .mdl-layout__tab-bar-button{
	display:none;
}
.mdl-wb .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button{
	display:none;
}
.mdl-wb .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,.mdl-wb .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container{
	overflow:visible;
}
.mdl-wb .mdl-layout__tab-bar-container{
	height:64px;
}
.mdl-wb .mdl-layout__tab-bar{
	padding:0;
	padding-left:16px;
	box-sizing:border-box;
	height:100%;
	width:100%;
}
.mdl-wb .mdl-layout__tab-bar .mdl-layout__tab{
	height:64px;
	line-height:64px;
}
.mdl-wb .mdl-layout__tab-bar .mdl-layout__tab.is-active::after{
	background-color:#fff;
	height:4px;
}
.mdl-wb main>.mdl-layout__tab-panel{
	padding:8px;
	padding-top:48px;
}
.mdl-layout-title{
	text-transform:uppercase;
	font-weight:normal;
	letter-spacing:1px;
}
.mdl-layout-title a{
	color:rgb(255,255,255);
	text-decoration:none;
	font-weight:400;
}
/*.mdl-layout__drawer .mdl-layout-title{
	padding:0;
	text-align:center
}
.mdl-layout-title{
	  left: 50%;
	  transform: translate(-50%)
}*/
.mdl-wb .mdl-layout__content section:not(:last-of-type){
	position:relative;
	margin-bottom:48px;
}
.mdl-wb section.section--center{
	max-width:860px;
}
.mdl-wb section.section--footer{
	padding:64px 0;
	margin:0 -8px -8px -8px;
}
/*.mdl-wb .mdl-layout__tab-panel:not(#overview){
	background-color:rgb(255,255,255);
	background-color:hsl(0,0%,100%);
}*/
/*.mdl-wb .mdl-menu__container{
	z-index:99;
}*/
.mdl-wb .social-share_icon{
	text-decoration:none;
	word-spacing:14px;
}
.mdl-wb .introduction{
	text-align:center;
}
.mdl-wb .hr{
	width:4rem; 
	height:.25 rem; 
	text-align:center; 
	margin:auto;
}
a{
	color:#3f464d;
	text-decoration:none;
}
h4 a {
	text-decoration:none;
	font-weight:400;
}
hr{
	height:.25 rem; 
}
.social-icons__container{
	word-spacing:18px;
}
.mdl-layout__content{
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:column nowrap;
	-ms-flex-flow:column nowrap;
	flex-flow:column nowrap;
}
.mdl-layout__header{
	background:rgb(255,255,255);
	border-bottom:1px solid #f1f3f5;
	z-index:1;
}
.mdl-layout__header-row {
	background:rgb(255,255,255);
	border-bottom:1px solid #f1f3f5;
	z-index:1;
}
/*.mdl-layout__header--transparent{
	background:rgb(255,255,255);
}*/
.mdl-layout__content > *:not(.mdl-layout-spacer){
	-webkit-flex:none;
	-ms-flex:none;
	flex:none;
}
.mdl-navigation__link{
	text-transform:uppercase;
}
.mdl-logo{
	color:#3f464d;
}
.mdl-mini-footer{
	color:#000;
}
.mdl-mini-footer a{
	color:#3f464d;
}
.mdl-layout__tab-panel is-active{
	position:absolute;
}