$font-stack: 'Noto Sans','Helvetica',sans-serif;
$font-color: rgb(58, 55, 67);

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Material Icons'),local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.woff) format('woff'), url(../fonts/MaterialIcons-Regular.woff2) format('woff2');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local(''), url('../fonts/noto-sans-v11-latin-regular.woff2') format('woff2'), url('../fonts/noto-sans-v11-latin-regular.woff') format('woff');
}
* {
	font-family: $font-stack;
}
html {
	font-family: $font-stack;
	color: $font-color;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
	font-family: $font-stack;
	color: $font-color;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}
.mdl-wb {
	.mdl-layout__tab-bar-button {
		display: none;
	}
	.mdl-layout.is-small-screen {
		.mdl-layout__tab-bar {
			.mdl-button {
				display: none;
			}
		}
	}
	.mdl-layout {
		&:not(.is-small-screen) {
			.mdl-layout__tab-bar {
				overflow: visible;
			}
			.mdl-layout__tab-bar-container {
				overflow: visible;
			}
		}
	}
	.mdl-layout__tab-bar-container {
		height: 64px;
	}
	.mdl-layout__tab-bar {
		padding: 0;
		padding-left: 16px;
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		.mdl-layout__tab {
			height: 64px;
			line-height: 64px;
		}
		.mdl-layout__tab.is-active {
			&::after {
				background-color: rgb(255, 255, 255);
				height: 4px;
			}
		}
	}
	main {
		>.mdl-layout__tab-panel {
			padding: 8px;
			padding-top: 48px;
		}
	}
	.mdl-layout__content {
		section {
			&:not(:last-of-type) {
				position: relative;
				margin-bottom: 48px;
			}
		}
	}
	section.section--center {
		max-width: 860px;
	}
	section.section--footer {
		padding: 64px 0;
		margin: 0 -8px -8px -8px;
	}
	.mdl-menu__container {
		z-index: 99;
	}
	.social-share_icon {
		text-decoration: none;
		word-spacing: 14px;
	}
	.introduction {
		text-align: center;
	}
	.read-more {
		a {
			color: rgb(87, 83, 101);
		}
	}
	.hr {
		color: rgb(137, 132, 154);
		width: 4rem;
		height: .25rem;
		text-align: center;
		margin: auto;
	}
	.skip {
		position: absolute;
		left: -999em;
		width: 990em;
		a {
			&:visited {
				left: -8.5em;
        		border: 3px #3399cc solid;
        		background-color: rgb(255, 255, 255);
			  }
			&:focus {
			left: -8.5em;
			border: 3px #3399cc solid;
			background-color: rgb(255, 255, 255);
			}
		}
	}
	.screenreader-alternative {
		position: absolute;
		left: -999em;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
		&:focus {
			color: rgb(255, 255, 255);
			display: inline-block;
			height: auto;
			width: auto;
			position: static;
			margin: auto;
		  }
	}
}
.mdl-layout-title {
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
	a {
		color: rgb(255,255,255);
		text-decoration: none;
		font-weight: 400;
	}
}
a {
	color: rgb(71, 121, 152);
	/*color: rgb(87, 83, 101);*/
	text-decoration: none;
}
h4 {
	a {
		color: rgb(87, 83, 101);
		text-decoration: none;
		font-weight: 400;
	}
}
hr {
	color: rgb(137, 132, 154);
	height: .25rem;
}
pre, xmp, plaintext, listing {
	display: block;
	font-family: monospace;
	background: rgb(40, 49, 66);
	color: rgb(236, 239, 241);
	white-space: pre;
	unicode-bidi: isolate;
    margin-top: 1em;
    margin-right: .5rem;
    margin-bottom: 1em;
    margin-left: .5rem;
}
.social-icons__container {
	word-spacing: 18px;
}
.mdl-layout__content {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	>* {
		&:not(.mdl-layout-spacer) {
			-webkit-flex: none;
			-ms-flex: none;
			flex: none;
		}
	}
}
.mdl-layout__header {
	background-color: rgba(255,255,255,0.95);
	background-color: hsla(0,0%,100%,.95);
	border-bottom: 1px solid #f1f3f5;
	z-index: 1;
}
.mdl-layout__header-row {
	background: transparent!important;
	background-color: rgba(255,255,255,0.95)!important;
	background-color: hsla(0,0%,100%,.95)!important;
	border-bottom: 1px solid #f1f3f5;
	z-index: 1;
}
.mdl-layout__header--transparent {
	background-color: rgba(255,255,255,0.95);
	background-color: hsla(0,0%,100%,.95);
}
.mdl-layout__header.is-casting-shadow {
	background-color: rgba(255,255,255,0.95);
}
.mdl-navigation__link {
	text-transform: uppercase;
}
.mdl-logo {
	color: rgb(86, 82, 100);
}
.mdl-mini-footer {
	color: rgb(86, 82, 100);
	a {
		color: rgb(86, 82, 100);
	}
}
.mdl-layout__tab-panel {
	is-active {
		position: absolute;
	}
}
.mdl-chip__text {
	background-color: rgb(87, 83, 101);
	background-color: rgb(255,255,255);
}
.mdl-chip {
	background-color: rgb(255,255,255);
}
.mdl-chip__contact {
	background-color: rgb(255,255,255);
}