    </main>
        <footer class="footer">
            <span class="footer_icons">
                <a href="{{ .Site.BaseURL }}/about/"><i class="fa fa-user-circle"></i></a> <a href="mailto:wbaer@wbaer.net"><i class="fa fa-envelope"></i></a> <a href="{{ .Site.BaseURL }}/posts/"><i class="fas fa-blog"></i></a> <a href="{{ .Site.BaseURL }}/tags/"><i class="fa fa-tag" aria-hidden="true"></i></a> <a href="{{ .Site.BaseURL }}/index.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
                <br /><br />
            </span>
            <span class="copyright">
                {{ with .Site.Copyright | safeHTML }}
                {{ . }}
                    {{ else }}
                    {{ if ($.Param "author") }}
                        {{ if ($.Param "authorwebsite") }}
                        <a href="{{ $.Param "authorwebsite" }}">{{ $.Param "author" }}</a>
                        {{ else }}
                        {{ $.Param "author" }}
                    {{ end }}
                {{ end }}
                {{ .Site.LastChange.Format "2006" }}
                    {{ if .Site.Title }}
                    <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
                    {{ end }}
                {{ end }}
                | hand crafted with <a href="https://golang.org/">Go</a>.
            </span>
        </footer>
    </body>
</html>