{{ partial "head.html" . }}
    <body class="mdl-wb mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
        {{ partial "svgpack-sprite.html" . }}

        <div class="mdl-layout__header--waterfall mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header mdl-layout__header--waterfall">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">( w | b )</span>
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
                            <i class="material-icons">search</i>
                            <!-- BEGIN GOOGLE SITE SEARCH -->
                            <!-- <script async src="https://cse.google.com/cse.js?cx=55288326eb7112bd1"></script>
                            <div class="gcse-search"></div> -->
                            <!-- END GOOGLE SITE SEARCH -->
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                            <!-- <input class="mdl-textfield__input" type="text" name="sample" id="waterfall-exp"> -->
                            <!-- BEGIN ALGOLIA SEARCH -->
                            <!-- INPUT -->
                            <input class="mdl-textfield__input" type="search" id="waterfall-exp" placeholder="search..." autocomplete="off">
                            <!-- ALGOLIA SCRIPTS -->
                            <script src="https://cdn.jsdelivr.net/npm/algoliasearch@3/dist/algoliasearchLite.min.js"></script>
                            <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
                            <!-- Initialise search -->
                            <script>
                              var client = algoliasearch("RTXEJJH0DN","50196e0b1ee6a3f136aa2e74769147bc");
                              var index = client.initIndex("wbaer.net");
                              autocomplete('#search-input', { hint: false }, [
                                {
                                  source: autocomplete.sources.hits(index, { hitsPerPage: 5 }),
                                    displayKey: 'title',
                                    templates: {
                                        suggestion: function(suggestion) {
                                          return suggestion._highlightResult.title.value;
                                        }
                                      }
                                  }
                                ]).on("autocomplete:selected",function(event, suggestion, dataset, context) {
                                  console.log(event, suggestion, dataset, context);
                                });
                            </script>
                            <!-- END ALGOLIA SEARCH -->
                        </div>
                    </div>
                </div>
                <div class="mdl-layout__header-row">
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main }}
                        <a class="mdl-navigation__link" href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
                        {{ end }}
                    </nav>
                </div>
            </header>

            <main class="mdl-layout__content">
                <div class="mdl-layout__tab-panel is-active" id="overview">
                    <section class="section--center mdl-grid mdl-grid--no-spacing">