{{ partial "head.html" . }}
    <body class="mdl-wb mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
        {{ partial "svgpack-sprite.html" . }}

        <div class="mdl-layout__header--waterfall mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header mdl-layout__header--waterfall">
                <div class="mdl-layout__header-row">
                    <div class="mdl-layout-title">
                        Bill Bär (ˈbɛər)
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <!-- SEARCH BOX LOCATION -->
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">( w | b )</div>
                </div>
                <div class="mdl-layout__header-row">
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main }}
                        <a class="mdl-navigation__link" href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
                        {{ end }}
                    </nav>
                </div>
            </header>

            <main class="mdl-layout__content">
                
                <!-- BEGIN CENTERED SEARCH BOX -->
                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-layout-spacer">
                        <i class="material-icons search-icon">search</i>
                        <input class="mdl-textfield__input mdl-wb search-box" type="search" id="center-search" autocomplete="off">
                        <script src="https://cdn.jsdelivr.net/npm/algoliasearch@3/dist/algoliasearchLite.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
                        <script>
                          var client = algoliasearch("RTXEJJH0DN","50196e0b1ee6a3f136aa2e74769147bc");
                          var index = client.initIndex("wbaer.net");
                          autocomplete('#center-search', { hint: false }, [
                            {
                              source: autocomplete.sources.hits(index, { hitsPerPage: 10 }),
                                displayKey: 'title',
                                 templates: {
                                    suggestion: function(suggestion) {
                                      return suggestion._highlightResult.title.value;
                                    },
                                                                empty: function(suggestion) {
                                      return 'No result';
                                    }
                                  }
                              }
                            ]).on("autocomplete:selected",function(event, suggestion, dataset, context) {
                              console.log(event, suggestion, dataset, context);
                              window.location.assign(suggestion.url);
                            });
                        </script>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                </div>
                <!-- END CENTERED SEARCH BOX -->
                
                <div class="mdl-layout__tab-panel is-active" id="overview">
                    
                    <!--
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
                        <i class="material-icons" role="presentation">bookmark_border</i>
                        <span class="visuallyhidden">bookmark_border</span>
                    </button>
                    -->
                    
                    <section class="section--center mdl-grid mdl-grid--no-spacing">