<div class="mdl-cell mdl-cell--12-col introduction h-card">
	<h1 class="screenreader-alternative">Bill Baer (ˈbɛər)</h1>
	<p class="site-title p-name">Bill Baer <span class="site-decoration">(ˈbɛər)</span></p>
	<p><i class="fas fa-paw fa-7x"></i></p>
	<p class="p-note"><a href="https://wbaer.net/about" class="u-url u-uid clear-decoration">Bill Baer</a> is a Senior Product Manager and Microsoft Certified Master for Microsoft Search, Assistant, and Intelligence at Microsoft in Redmond, Washington.</p>
	<hr class="hr">
</div>