<div class="mdl-cell mdl-cell--12-col mdl-wb introduction h-card" aria-label="site heading">
	<p class="mdl-wb site-title p-name" role="heading">Bill Baer <span class="mdl-wb site-decoration">(ˈbɛər)</span></p>
	<p><i class="fas fa-paw fa-7x"></i></p>
	<p class="p-note"><a href="https://wbaer.net" class="u-url u-uid">Bill Baer</a> is a Senior Product Manager and Microsoft Certified Master for Microsoft Search, Assistant, and Intelligence at Microsoft in Redmond, Washington.</p>
	<a class="u-url u-uid"></a>
	<hr class="mdl-wb hr">
</div>