{{ if or ( $.Param "twitter" ) ( $.Param "github" ) ( $.Param "gitlab" ) ( $.Param "linkedin" ) }}
<ul class="social-icons">
  {{ with ($.Param "twitter") }}
  <li class="social-icons__item">
    <a href="https://twitter.com/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="social-icons__icon">
        <title>twitter</title>
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with ($.Param "github") }}
  <li class="social-icons__item">
    <a href="https://github.com/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="social-icons__icon">
        <title>github</title>
        <use xlink:href="#icon-github"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with ($.Param "gitlab") }}
  <li class="c-links__item">
    <a href="https://gitlab.com/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>gitlab</title>
        <use xlink:href="#icon-gitlab"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with ($.Param "linkedin") }}
  <li class="social-icons__item">
    <a href="https://linkedin.com/in/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="social-icons__icon">
        <title>linkedin</title>
        <use xlink:href="#icon-linkedin"></use>
      </svg>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}