        <nav class="pagination">
            <div class="pagination-control">
                <div class="pagination-next left arrow">
                    {{if .HasPrev}}
                    <a href="{{ .Prev.URL }}">&#8592;</a>
                    {{end}}
                </div>
                <div class="pagination-count ">{{ .PageNumber }}</div>
                <div class="pagination-previous right arrow">
                    {{if .HasNext}}
                    <a href="{{ .Next.URL }}">&#8594;</a>
                    {{end}}
                </div>
            </div>
        </nav>