            <div class="mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-cell mdl-cell--4-col">
                    {{ if not .HasPrev }}{{ end }}
                    {{ if .HasPrev }}
                    <button class="mdl-button mdl-js-button mdl-button--accent"><a href="{{ .Prev.URL }}" tabindex="-1">Previous</a></button>
                    {{ end }}

                    {{ if not .HasNext }}{{ end }}
                    {{ if .HasNext }}
                    <button class="mdl-button mdl-js-button mdl-button--accent"><a href="{{ .Next.URL }}" tabindex="-1">Next</a></button>
                    {{ end }}
                </div>
                <div class="mdl-layout-spacer"></div>
            </div>