{{ partialCached "head/head.html" . }}
    <body class="mdl-wb mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
          
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">Bill Bär (ˈbɛər)</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main }}
                        <a class="mdl-navigation__link" href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
                        {{ end }}
                    </nav>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-expandable">
                            <!-- <i class="material-icons">search</i> -->
                            <i class="material-icons notranslate spyglass" aria-label="Search Material Design">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                            <form id="search" role="search" class="search">
                                <input class="mdl-textfield__input" type="text" id="search-expandable" />
                                <label class="mdl-textfield__label" for="search-expandable">Search text</label>
                            </form>
                        </div>
                    </div>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Bill Bär (ˈbɛər)</span>
                <nav class="mdl-navigation">
                    <!-- <i _ngcontent-ufd-c1 class="material-icons notranslate" title="Toggle Navigation">menu</i> -->
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        <a class="mdl-navigation__link" href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
                    {{ end }}
                </nav>
            </div>
            
            <main class="mdl-layout__content mdl-color--white">
                <div class="mdl-layout__tab-panel is-active" id="overview">
                    <section class="section--center mdl-grid mdl-grid--no-spacing">
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-wb search-result__container"></div>
                        </div>
                        <template id="mdl-wb__search-result" hidden>
                                <article class="content post">
                                    <h4 class="post-title"><a class="search-result__link"></a></h4>
                                    <p class="search-result__summary"></p>
                                    <div>
                                        <span class="mdl-button mdl-js-button mdl-button--accent"><a class="search-result__button">Expand Result</a></span>
                                    </div>
                                </article>
                        </template>