{{ partialCached "head/head.html" . }}
    <body class="mdl-wb mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFJ5TFZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title"><i class="fas fa-paw"></i></span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main }}
                        <a class="mdl-navigation__link" href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
                        {{ end }}
                    </nav>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-cell--hide-phone">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-expandable">
                            <i class="material-icons notranslate spyglass" style="top: 18px;">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                            <form id="search" role="search" class="search">
                                <input class="mdl-textfield__input" type="text" id="search-expandable" />
                                <label class="mdl-textfield__label" for="search-expandable">search</label>
                            </form>
                        </div>
                    </div>
                </div>
            </header>
            <div class="mdl-layout__drawer mdl-layout--small-screen-only">
                <span class="mdl-layout-title">Bill Baer (ˈbɛər)</span>
                <nav class="mdl-navigation">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        <a class="mdl-navigation__link" href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
                    {{ end }}
                </nav>
            </div>
            
            

            
            <main class="mdl-layout__content mdl-color--white">
                
                <div class="mdl-layout__tab-panel is-active" id="overview">
                    

                    
                    <section class="section--center mdl-grid mdl-grid--no-spacing">
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-wb search-result__container"></div>
                        </div>
                        <template id="mdl-wb__search-result" hidden>
                                <article class="content post">
                                    <h4 class="post-title"><a class="search-result__link"></a></h4>
                                    <p class="search-result__summary"></p>
                                    <div>
                                        <span class="mdl-button mdl-js-button mdl-button--accent"><a class="search-result__button">Expand Result</a></span>
                                    </div>
                                </article>
                        </template>